
/**************************TAG SELECTOR**************/
  body {
    background-color: #EAF6F6;
  }
  hr{
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 8px;

    width: 4%;


  }
  h3{ font-style: italic;
     color: #66BFBF;}
     h1{
       color: #66BFBF;
     }
/*
     img{
       background-color: red;
     }
*/
/********************CLASS SELECTOR********************/
.broccoli{
  background-color: red;
}
.milk{
  background-color: green;
}
/********************ID SELECTOR********************/
#heading {
  color: blue;
}
